name: Build APK
on:
  push:
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install system deps
        run: |
          sudo apt update
          sudo apt install -y git zip unzip openjdk-17-jdk python3-pip python3-venv \
            autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev \
            libtinfo5 cmake libffi-dev libssl-dev

      - name: Create venv and install buildozer
        run: |
          python3 -m venv .venv
          . .venv/bin/activate
          pip install --upgrade pip setuptools wheel
          pip install Cython==0.29.33 buildozer

      - name: Build APK
        run: |
          . .venv/bin/activate
          buildozer -v android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: bin/*.apk
